@font-face
{
  font-family: "CRFont";
  src: url(clashroyalefont.ttf) format("truetype");
}

*
{
  font-family: "CRFont";
}

body
{
  background-color: lightblue;
  font-size: 16px;
  margin: 0;
}

h1
{
  margin-bottom: 1px;
}

#buttonClicker
{
  font-size: 30px;
  padding: 15px;
  background-color: lightblue;
  width: 35%;
  float: left;
  border: none;
  height: 100%
}

#buttonClicker:active
{
  transform: scale(0.95);
}

#licznik
{
  margin-bottom: 40px;
}

#clickerMain
{
  width: 45%;
  float: left;
  background-color: darkgoldenrot;
}

#clickerStore
{
  width: 20%;
  float: left;
  background-color: lightgreen;
}

#tableMainTop
{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#divMain
{
  height: 500px;
  overflow-y: scroll;
  background-color: lightgray;
}

#divMain > table
{
  width: 100%;
  text-align: center;
}

.upgMain
{
  height: 100px;
  border-bottom: 3px dotted black;
}

#tableStoreTop
{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#divStore
{
  height: 525px;
  overflow-y: auto;
  background-color: lightpink;
}

#divStore > table
{
  width: 100%;
  text-align: center;
}

.upgStore
{
  height: 60px;
  border-bottom: 2px dotted black;
}
